In [1]:
import numpy as np 
import pandas as pd 
from itertools import islice
from subprocess import check_output
print(check_output(["ls", "."]).decode("utf8"))

Assessment2.ipynb
Execution Extraction.xlsx
Execution Extract.xlsx
get-pip.py
Order Log.xlsx
testgit

In [2]:
df_exec = pd.read_excel("Execution Extract.xlsx")

#removing unwanted character ('[',']') from PRICE column
df_exec['PRICE'] = df_exec['PRICE'].map(lambda x: x.lstrip('[').rstrip(']'))
df_exec.insert(6,'ORDER_REF',0)
#changing datatype of PRICE column to float64
df_exec[['PRICE']]= df_exec[['PRICE']].apply(pd.to_numeric)

df_exec

,TIME,MSG TYPE,USER,ExecRef,PRICE,QUANTITY,ORDER_REF
0,12:17:27.717000,profexe,user1,[20160113WZW662560242342B],26.85,[10],0
1,12:18:19.947000,profexe,user1,[20160113WZW137536652001S],9.18,[500],0
2,12:18:19.947000,profexe,user1,[20160113WZW137536652002S],9.18,[9],0
3,12:18:19.947000,profexe,user1,[20160113WZW137536652003S],9.18,[218],0
4,12:18:19.947000,profexe,user1,[20160113WZW137536652004S],9.18,[73],0
5,12:18:38.584000,profexe,user2,[20160113WZW662560250632S],5.31,[200],0
6,12:18:38.584000,profexe,user2,[20160113WZW662560250633S],5.31,[900],0
7,12:24:21.859000,profexe,user1,[20160113WZW662560288929B],24.26,[100],0
8,12:24:21.859000,profexe,user1,[20160113WZW662560288930B],24.26,[100],0
9,12:24:21.859000,profexe,user1,[20160113WZW662560288931B],24.26,[300],0
10,12:27:28.214000,profexe,user1,[20160113WZW662560306472B],37.67,[237],0
11,12:27:28.214000,profexe,user1,[20160113WZW662560306479B],37.67,[86],0
12,12:27:28.214000,profexe,user1,[20160113WZW662560306480B],37.67,[177],0
13,12:27:49.418000,profexe,user3,[20160113WZW962838985889B],65.31,[2],0
14,12:37:26.409000,profexe,user1,[20160113WZW912792519001S],1.98,[200],0
15,12:38:36.127000,profexe,user3,[20160113WZW562466399955B],98.35,[19],0

In [3]:
df_order = pd.read_excel("Order Log.xlsx")
df_order

,TIME,MSG TYPE,ORDER TYPE,USER,ORDER REF,market REF,Session,Way,Qty,Instr,Price
0,10:20:02.737000,proford,N,user1,18968,[GAQ201601131073753023],[1],[S],100,[CCL],26.85
1,10:20:02.878000,proford,N,user1,19112,[GAQ201601131073753007],[1],[S],2000,[ETH],9.18
2,10:20:02.878000,proford,N,user2,1124,[GAQ201601131073753019],[1],[S],1500,[RGS],5.31
3,10:20:03.604000,proford,N,user1,19516,[GAQ201601131073752990],[1],[S],500,[TRXC],24.26
4,10:20:04.423000,proford,N,user1,19809,[GAQ201601131073753023],[1],[S],100,[CCL],37.67
5,10:20:08.901000,proford,N,user3,499,[GAQ201601130000011200],[1],[B],100,[DAL],65.31
6,10:20:13.517000,proford,N,user1,18067,[GAQ201601131073753025],[1],[S],100,[HALL],1.98
7,10:20:17.615000,proford,N,user3,648,[GAQ201601130000011202],[1],[B],100,[RS],98.35

In [4]:
for i,row in df_exec.iterrows():
    for j,row2 in df_order.iterrows():
        if row[2]==row2[3]:
            if row[4]==row2[10]:
                df_exec.loc[i,'ORDER_REF']=row2[4]
                break
df_exec

,TIME,MSG TYPE,USER,ExecRef,PRICE,QUANTITY,ORDER_REF
0,12:17:27.717000,profexe,user1,[20160113WZW662560242342B],26.85,[10],18968
1,12:18:19.947000,profexe,user1,[20160113WZW137536652001S],9.18,[500],19112
2,12:18:19.947000,profexe,user1,[20160113WZW137536652002S],9.18,[9],19112
3,12:18:19.947000,profexe,user1,[20160113WZW137536652003S],9.18,[218],19112
4,12:18:19.947000,profexe,user1,[20160113WZW137536652004S],9.18,[73],19112
5,12:18:38.584000,profexe,user2,[20160113WZW662560250632S],5.31,[200],1124
6,12:18:38.584000,profexe,user2,[20160113WZW662560250633S],5.31,[900],1124
7,12:24:21.859000,profexe,user1,[20160113WZW662560288929B],24.26,[100],19516
8,12:24:21.859000,profexe,user1,[20160113WZW662560288930B],24.26,[100],19516
9,12:24:21.859000,profexe,user1,[20160113WZW662560288931B],24.26,[300],19516
10,12:27:28.214000,profexe,user1,[20160113WZW662560306472B],37.67,[237],19809
11,12:27:28.214000,profexe,user1,[20160113WZW662560306479B],37.67,[86],19809
12,12:27:28.214000,profexe,user1,[20160113WZW662560306480B],37.67,[177],19809
13,12:27:49.418000,profexe,user3,[20160113WZW962838985889B],65.31,[2],499
14,12:37:26.409000,profexe,user1,[20160113WZW912792519001S],1.98,[200],18067
15,12:38:36.127000,profexe,user3,[20160113WZW562466399955B],98.35,[19],648

# Write dataframe to excel sheet

In [6]:
df_exec.to_excel("Execution Extraction.xlsx",index=False)